- content_for :title, 'Projects'

.container
  .content
    .row
      .span4
        .well
          %h2 Google
          %p.flush-bottom= link_to 'http://offers.google.com/', 'http://offers.google.com'
          %p.flush-bottom Summer 2013
      .span8
        %h3.red Offers Ads Distribution Intern
        %ul
          %li Built a MapReduce pipeline to join large-scale and fragmented data sources using hybrid-hash joins and massive tables.
          %li Applied massively-scale ML techniques to train classification data on ad click conversions
          %li Developed an extensible library to allow flexible feature selection for experimentation
          %li Used model selection techniques to determine relevant feature sets and tuning parameters
        %p
          %strong The technologies:
          MapReduce, C++, proprietary Google tech

.container
  .content
    .row
      .span4
        .well
          %h2 Groupon
          %p.flush-bottom= link_to 'http://groupon.com/', 'http://groupon.com/'
          %p.flush-bottom Summer 2012
      .span8
        %h3.red Smartdeals/Relevance Intern
        %ul
          %li Developed a Hadoop parity pipeline to measure affected users by email ranking experiments
          %li Pipeline feedsback on experiements to give faster statistical significance theshholds  
        %p
          %strong The technologies:
          Hadoop, Java, Ruby
    .row
      .span4
        .well
          %h2 WSWE
          %p.flush-bottom= link_to 'http://whereshouldweeat.org/', 'http://whereshouldweeat.org/'
          %p.flush-bottom Spring 2012
      .span8
        %h3.red Personal Project
        %ul
          %li Complex multi-table polymorphic associations between different types of recommendations
          %li Loads of features: list, favorites, places, admin, chloropleth maps, etc.
          %li Experimented with recommender systems with Adobe Mahout
                  
        %p
          %strong The technologies:
          Ruby on Rails, Ruby, Postgres, APIs (JSON), Javascript, OAuth, RSpec
          
    .row
      .span4
        .well
          %h2 Magoosh
          %p.flush-bottom= link_to 'http://gre.magoosh.com/', 'http://gre.magoosh.com/'
          %p.flush-bottom Summer 2011 to Spring 2012
      .span8
        %h3.red Rails Developer Intern
        %ul
          %li Full-stack development from modeling to front-end jQuery calculator
          %li Learned the wonders of Agile development and modern software engineering
        
        %p
          %strong The technologies:
          Ruby on Rails, jQuery, Ruby, MySQL, HAML & SASS 
    
    .row
      .span4
        .well
          %h2 CalTeachables
          %p.flush-bottom Fall 2012
      .span8
        %h3.red Rails Developer
        %ul
          %li Developed lesson plan repository for local nonprofit with full-text search, admin approval system, and reviews
          %li Managed a team of 5 other developers with Agile as scrum master

        %p
          %strong The technologies:
          Ruby on Rails, Solr, jQuery