.navbar
  .navbar-inner
    .container
      .pull-right
        %ul.nav
          %li= link_to 'Home', root_path
          %li= link_to 'Projects', projects_path
          %li= link_to 'Resume', '/Alec Hoey Resume.docx'